<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio de Pagina de componentes Alertas.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-button color="primary" expand="full" (click)="navigateToAlertas()">Alertas page</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToIonactionsheet()">ion-action-sheet page</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToionbadge()">navigateToionbadge</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToionbutton()">navigateToionbutton</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToionrippleeffect()">navigateToionrippleeffect</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToioncard()">navigateToioncard</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToioncheckbox()">navigateToioncheckbox</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToionchip()">navigateToionchip</ion-button>
      <ion-button color="primary" expand="full" (click)="navigateToioncontent()">navigateToioncontent</ion-button>
  </div>
</ion-content>
